{% extends 'admin.html.twig' %}
{% block title %}资讯-{{ title }}{% endblock %}

{% block body %}
    <h2 class="sub-header">{{ title }}</h2>
    <p><a role="button" href="{{ path('category_create') }}" class="btn btn-primary">创建分类</a></p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>分类名称</th>
                <th>最后修改人</th>
                <th class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.updateUser.name }}</td>
                <td class="text-right">
                    <a href="{{ path('category_edit', { 'id':item.id }) }}" class="btn btn-info">修改</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a role="button" href="{{ path('category_create') }}" class="btn btn-lg btn-primary">创建分类</a>
{% endblock %}

{% block javascripts %}
<script></script>
{% endblock %}