{% extends 'SABundle::base.html.twig' %}

{% block body %}
    <h1>GrabData</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grabRule.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ grabRule.data }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if grabRule.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Entity</th>
                <td>{{ grabRule.entity }}</td>
            </tr>
            <tr>
                <th>EntityId</th>
                <td>{{ grabRule.entityId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sa_grab-rule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sa_grab-rule_edit', { 'id': grabRule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
