{% extends 'admin.html.twig' %}
{% block title %}招标-招标信息{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/pagination.css') }}">
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            <div class="alert alert-success">{{ flash_message }}</div>
        </div>
    {% endfor %}
    <h2 class="sub-header">招标管理--<caption>{{ app.request.get('company') ? companyList[0].companyName : "全部渠道" }}</caption></h2>
    <div class="container">
        <div class="row">
            <form id="queryForm">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="date" name="date" value="{{ date ? date|date('Y-m-d') : 'now'|date('Y-m-d') }}" type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"><i class="icon-calendar"></i></span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="company" id="company">
                        <option value="">全部公司</option>
                        {% for item in companyList %}
                            <option {{ company==item.id ? 'selected' }} value="{{ item.id }}">{{ item.companyName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="remarks" id="remarks">
                        <option {{ remarks==0 ? 'selected' }} value="0">未处理</option>
                        <option {{ remarks==2 ? 'selected' }} value="2">已编辑</option>
                        <option {{ remarks==3 ? 'selected' }} value="3">已忽略</option>
                    </select>
                </div>
                <button type="button" class="btn btn-default pull-right addTender">添加更新</button>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <div class="count">
            共{{ pagination.getTotalItemCount }}条
        </div>
        <table class="table table-striped" style="table-layout:fixed">
            <thead>
            <tr>
                <th style="width: 15%">公司名称</th>
                <th style="width: 35%">投标标题</th>
                <th style="width: 30%">内容地址</th>
                <th style="width: 10%;">抓取时间</th>
                <th style="width: 10%;">处理结果</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
            <tr title="渠道：&ensp;{{ item.getCompany.companyName }}&#13;标题：&ensp;{{ item.title }}&#13;地址：&ensp;{{ item.url }}&#13;时间：&ensp;{{ item.date|date('Y-m-d') }}&ensp;{{ item.time|date('H:i:s') }}&#13;截标时间：&ensp;{{ item.getFilterCloseDate }}&#13;">
                <td><a href="{{ item.getCompany.getSiteUrl }}" target="_blank">{{ item.getCompany.companyName }}</a></td>
                <td>{{ item.title }}</td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; "><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                <td>{{ item.date|date('Y-m-d') }}<br>{{ item.time|date('H:i:s') }}</td>
                <td>
                    <select class="form-control remarks" data-id="{{ item.id }}" >
                        <option value="{{ constant('AppBundle\\Entity\\Tenders::UNHANDLED') }}"
                                {{ item.remarks==constant('AppBundle\\Entity\\Tenders::UNHANDLED') ? "selected" }} >未处理</option>
                        <option value="{{ constant('AppBundle\\Entity\\Tenders::UPDATED') }}"
                                {{ item.remarks==constant('AppBundle\\Entity\\Tenders::UPDATED') ? "selected" }}>已编辑</option>
                        <option value="{{ constant('AppBundle\\Entity\\Tenders::IGNORED') }}"
                                {{ item.remarks==constant('AppBundle\\Entity\\Tenders::IGNORED') ? "selected" }}>已忽略</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block modal %}
    {% include 'modal/tips.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script>
        (function(){
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $("#date").blur(function(){
                if($(this).val())
                    $("#queryForm").submit();
            });
            $("#company").change(function(){
                $("#queryForm").submit();
            });
            $("#remarks").change(function(){
                $("#queryForm").submit();
            });

            /******************手动添加start***********************/
            $(".addTender").click(function(){
                /*********************设置modal表单***********************/
                var tenderModal ='{{ form_start(form) }}'+
                        '{{ form_row(form.company) | replace({"\n":""}) | raw }}'+
                        '{{ form_row(form.title) }}'+
                        '{{ form_row(form.url) }}'+
                        '{{ form_end(form) }}';

                //$("h4.modal-title").text();
                var $tips = new TipsModal(tenderModal);
                //$("div.modal-footer").html(sessionStorage.getItem('modalFormFooter'));
                $tips.setTitle("添加更新");
                $tips.setButton();
                $tips.setSumbUrl("{{ path('tenders_doCreate') }}");
                $("#tips").fadeIn(500);
                /************************设置modal表单end****************/
                //$(".modal-body").html(tenderModal);

                if($(this).data("id")){
                    $("#tenders_company").val($(this).data("id"))
                            .attr("disabled","disabled");
                }

            });
            /******************手动添加end*************************/

            /******************修改备注状态start****************************/

            $(".remarks").change(function(){
                editTendersRemarks(this);
            });
            function editTendersRemarks(obj){
                $.post('{{ path("tenders_doEdit") }}'
                    ,{id:$(obj).data('id'), remarks:$(obj).val()}
                    , function(data){

                    }
                );
            }

            /******************修改备注状态end****************************/

            $(document).keydown(function(e){
                if(e.keyCode == 37 && $(".pagination").find(".previous>a").attr("href")){
                    location.href = $(".pagination").find(".previous>a").attr("href");
                }else if(e.keyCode == 39 && $(".pagination").find(".next>a").attr("href")){
                    location.href = $(".pagination").find(".next>a").attr("href");
                }
            });
        })();
    </script>
{% endblock %}